<H1>Blocks</H1>
<h3>
  <a href="/">back</a>
</h3>

<% blocks.forEach((block) => { %>

  <h1><%= block.index %></h1>
  <div><%= block.timeStamp %></div>
  <div><%= block.data %></div>
  <div><%= block.previousHash %></div>
  <div><%= block.nonce %></div>
  <div><%= block.hash %></div>

<% }) %>
